asgiref==3.10.0
dj-database-url==3.0.1
Django==4.2.5
django-environ==0.11.2
django-jazzmin==2.6.0
django-tex==1.1.10
gunicorn==23.0.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
Pillow==10.0.1
psycopg2-binary==2.9.11
pytz==2025.2
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.11.0
